:root{
  margin: 0 ;
  position: relative;
  min-height: 100vh;
  padding-left: 9%;
  padding-right: 9%;

}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-image: url('../public/assets/psychedelic-background.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center center;
  opacity: 0.9;
}
