.container-input {
  position: relative;
  text-align: center;
}
.icon{
  position: absolute;
  width: 35px;
  height: 35px;
  top: 1rem;
  left: 8.5rem;
  
}
@media (max-width: 590px) {
  .icon{
    display: none;
  }
}


.TodoSearch {
  position: relative;
  background: #f9fbfc;
  border-radius: 10px;
  border: 2px solid #202329;
  margin: auto;
  height: 4rem;
  width: 90%;
  font-size: 24px;
  text-align: center;
  font-family: "Roboto";
  font-weight: 500;
  color: #1e1e1f;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}

.TodoSearch::placeholder {
  color: #d8abab;
  font-family: "Roboto";
  font-weight: 500;
}

.TodoSearch:focus {
  outline-color: #ad8326;
}
